body {
    background-color: rgb(246, 246, 246);
    font-family: 'Times New Roman', Times, serif
}

h1 {
    color: red;
    font-size: 40px;
}

.divy {
    color: rgb(91, 120, 84);
    font-size: 20px;
}

.newDiv {
    background-color: olive;
    color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}