* {
    margin: 0;
    padding: 0;
    background-color: rgb(239, 239, 239);
}

$text-color: rgb(21, 21, 21);

.footer-box {
    font-size: 12px;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 2px #FFD700;
    margin: 50px 30px 0px 30px;
    padding: 15px 0px 0px 0px;
}