body {
    background-color: rgb(246, 246, 246);
    font-family: 'Times New Roman', Times, serif
}

h1 {
    color: red;
    font-size: 40px;
}

.divy {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.newDiv {
    background-color: rgb(99, 129, 162);
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding: 10px;
}