.user-home-page-main-box{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 50px 50px 0px 50px;
    font-family: serif;
}

.user-home-page-data-box{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    height: 560px;
    width: 1200px;
    padding: 10px 10px 10px 10px;
}