.carousel {
    overflow: hidden;
    width: 1800px;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(255, 255, 255); */
    color: #000000;
    height: 600px;
    padding-left: 15px;
}

.indicators {
    display: flex;
    justify-content: space-between;
}

.indicators>button {
    margin: 5px;
}

.indicators>button.active {
    /* background-color: rgb(255, 255, 255); */
    color: #000000;
}