$text-color-a-hover: rgb(20, 82, 196);

.home-main-box {
    align-items: left;
    justify-content: left;
    display: flex;
    margin: 50px 0px 0px 47px;
    font-family: serif;
}

img {
    border-radius: 2px;
    border: solid 1px #dadada;
}

.home-main-box-about-us {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0px 20px;
    line-break: auto;
}

a {
    text-decoration: none;
    color: black;
    margin: 0px 25px 0px 0px;
    border-radius: 10px;
    padding: 10px;
    background-color: wheat;
    color: black;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    box-shadow: 0 6px 0 rgb(241, 212, 158);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: $text-color-a-hover;
        transform: translate(6px);
        box-shadow: 0 3px 0 rgb(241, 212, 158);
    }
}

.home-main-box-buttons {
    margin: 50px 0px 0px 0px;
}

.menu-main-box {
    flex-direction: column;
    display: flex;
    font-family: serif;
    border: dotted 4px rgb(90, 90, 90);
    margin: 50px 50px 0px 50px;
    padding: 20px;
}

.menu-box-menu-logo {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-box-left-side {
    border: solid 1px #eaeaea;
    flex-direction: column;
    display: flex;
    align-items: left;
    justify-content: left;
    float: left;
    margin: 15px 0px 0px 0px;
    padding: 20px;
    height: 600px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0 !important
    }
}

.menu-box-right-side {
    border: solid 1px #eaeaea;
    flex-direction: column;
    display: flex;
    align-items: right;
    justify-content: right;
    float: right;
    margin: 15px 0px 0px 0px;
    padding: 20px;
    height: 600px;
    width: 700px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0 !important
    }
}

.login-main-box {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 50px 50px 0px 50px;
    padding: 20px;
}

.login-box-form-box {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    border: solid 1.5px rgb(241, 208, 146);
    padding: 40px;
    border-radius: 4px;
    width: 300px;
}

.login-form-texts {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 1.5em !important;
    font-weight: 800;
}

.login-box-btn {
    background-color: rgb(20, 82, 196) !important;
    color: white !important;
    margin: 0px 0px 20px 0px !important;
}

.login-box-span {
    cursor: pointer;
    text-decoration: none;
    color: rgb(244, 205, 132);

    &:hover {
        text-decoration: underline;
        filter: drop-shadow(1px 1px 10px rgb(242, 220, 178));
    }
}

.signup-main-box {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 50px 50px 0px 50px;
    padding: 20px;
}

.signup-box-form-box {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    border: solid 1.5px rgb(241, 208, 146);
    padding: 40px;
    border-radius: 4px;
    width: 300px;
}

.signup-box-span {
    cursor: pointer;
    text-decoration: none;
    color: rgb(244, 205, 132);

    &:hover {
        text-decoration: underline;
        filter: drop-shadow(1px 1px 10px rgb(242, 220, 178));
    }
}

.signup-box-btn {
    background-color: rgb(20, 82, 196) !important;
    color: white !important;
    margin: 0px 0px 20px 0px !important;
}

.reservation-main-box {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 50px 50px 0px 50px;
    padding: 20px;
}

.time-picker-box {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.each-menu-item-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    height: 90px;
    border-bottom: solid .5px rgb(116, 116, 116);
}

.menu-box-menu-logo-1 {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(35, 35, 146);
    cursor: pointer;

    &:hover {
        color: rgb(92, 92, 234);
    }
}