$text-color-a-hover: rgb(20, 82, 196);

.home-main-box {
    align-items: left;
    justify-content: left;
    display: flex;
    margin: 50px 0px 0px 47px;
    font-family: serif;
}

img {
    border-radius: 2px;
    border: solid 1px #dadada;
}

.home-main-box-about-us {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0px 20px;
    line-break: auto;
}

a {
    text-decoration: none;
    color: black;
    margin: 0px 25px 0px 0px;
    border-radius: 10px;
    padding: 10px;
    background-color: wheat;
    color: black;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    box-shadow: 0 6px 0 rgb(241, 212, 158);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: $text-color-a-hover;
        transform: translate(6px);
        box-shadow: 0 3px 0 rgb(241, 212, 158);
    }
}

.home-main-box-buttons {
    margin: 50px 0px 0px 0px;
}