.satff-main-box {
    // border: solid 1px green;
    display: flex;
    flex-direction: column;
    width: 1300px;
    margin: 25px 0px 0px 0px;
    height: 700px;
}

.staff-make-reservation-main-box {
    display: flex;
    flex-direction: row;
    // border: solid 1px red;
    margin-bottom: 40px;
    overflow-y: scroll;
    height: 450px;

    &::-webkit-scrollbar {
        width: 0 !important
    }
}

.staff-all-reservations-main-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0 !important
    }
}

.all-reservations-single-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(207, 207, 207);
    justify-content: space-between;
    // border: solid 1px red;
}

.all-reservations-data-box {
    display: flex;
    flex-direction: column;
}

.all-reservations-edit-one-box {
    margin-top: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.staff-page-make-order-menu-box-left {
    padding: 5px;
    border: solid 1px #eaeaea;
    border-radius: 4px;
    overflow-y: scroll;
    align-items: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 450px;
    margin-right: 20px;

    &::-webkit-scrollbar {
        width: 0 !important
    }
}

.staff-page-make-order-menu-box-right {
    padding: 5px;
    border: solid 1px #eaeaea;
    border-radius: 4px;
    overflow-y: scroll;
    align-items: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 450px;

    &::-webkit-scrollbar {
        width: 0 !important
    }
}

.alert-dialog-description {
    position: sticky !important;
    top: 0 !important;
    background-color: white;
    margin-top: 15px !important;
}

.staff-edit-reservation-dialog-box {
    height: 350px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0 !important
    }
}

.staff-edit-reservation-textfield {
    width: 500px;
}